.hedet-Div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 158px;
    background-color: #191A19;
}

.JHONTRAKTOR {
    font-family: Unlock;
    font-size: 40.98px;
    font-weight: 400;
    line-height: 43.76px;
    color: #FF7420;
}


.Home {
    font-family: 'Calistoga', Static;
    font-size: 24px;
    font-weight: 500;
    color: #FF7420;
    position: relative;
}

.Home::after {
    content: '';
    position: absolute;
    width: 120%;
    height: 2px;
    background-color: #FF7420;
    left: 55%;
    bottom: -12px;
    transform: translateX(-50%);
}

.navMEnStrings {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #FFFFFF;
}

.FirstUlTegs {
    display: flex;
    width: 100%;
    gap: 40px;
    align-items: center;
}

.englesh {
    display: flex;
    gap: 10px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #FFFFFF;

}



.bootom-ConTact {
    width: 192px;
    background-color: #FF7420;
    padding: 15px;
    border-radius: 7%;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
}

.seCondUlTegs {
    display: flex;
    gap: 24px;
    align-items: center;
}

.nameN {
    display: flex;
    align-items: center;
    gap: 100px;
}

.fa-solid {
    font-size: 30px;
    color: beige;
    box-shadow: 2px 2px 30px rgb(0, 255, 42);
    text-shadow: 2px 2px rebeccapurple;
}

.burgerBar-Div {
    display: none;
}

.image-big {
    width: 100%;
    display: block;

}



.wepreper {
    font-family: Poppins;
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    color: #FFFFFF;

}

.forTHe {
    font-family: Poppins;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;

}

.fucTeree {
    font-family: Poppins;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    color: #FF7420;
}

.big-Strings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weproviDer {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    width: 60%;
    margin-top: 24px;
    color: #FFFFFF;
}

.leftSmol-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 66px;
    border-radius: 15px;
    background-color: #FF7420;
}

.ourSevices {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.SmolBlock-div {
    display: flex;
    gap: 24px;
    margin-top: 75px;
}

.right-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 66px;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.vivedProjecst {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: #191A19;
}

.left-coNteinner {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-110%, -50%);
}

.backgrund-Div {
    position: relative;

}

.MeoRe-Secqcia {
    width: 100%;
    background-color: #FF7420;
}

.featureProcetc {
    font-family: Poppins;
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    text-align: left;
    color: #191A19;
}


.allWorkuts {
    position: relative;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: black;

}

.allWorkuts::after {
    content: '';
    position: absolute;
    width: 110%;
    height: 2px;
    background-color: #030303;
    bottom: -10px;
    transform: translateX(-92%);
}

::selection {
    color: aliceblue;
}

.aTegs {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.seconD-Navmen {
    display: flex;
    column-gap: 14px;
}

.first-sTrings {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding-top: 54px;

}

.divSection-N3 {
    width: 90%;
    margin: auto;
    padding-top: 49px;
    display: flex;
    column-gap: 18px;
    flex-wrap: nowrap;
}

.firtFoto-div {
    position: relative;
    width: 35%;
}

.first-foto {
    width: 100%;
    display: block;
}

.firtFOtos-strings {
    width: 100%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.frstfotos-ptegs {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
}


.secoomFoto-Div {
    width: 35%;
    position: relative;
    text-align: center;
}

.mere-foto {
    display: block;
    width: 100%;
}

.secondDIv-strings {
    width: 100%;
    position: absolute;
    top: 85%;
    transform: translate(-50% -50%);

}

.seconDiv-string {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
}

.meotxe-divFto {
    width: 35%;
    position: relative;
    text-align: center;
}

.mesame-Foto {
    width: 100%;
    display: block;
}

.meotxediVs-strings {
    width: 1005;
    position: absolute;
    transform: translate(50% 50%);
    top: 85%;
    left: 30%;
}

.meotxeDivs-strngBoyz {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
}

.big-mainQshen {
    width: 100%;
    background: #191A19;
}

.whatOirr {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color: #FF7420;
}

.lamverY {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    width: 60%;
    margin-top: 28px;

}

.team2-DIv {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 14px;
}

.tamN2 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

.big-FiestsectIonString {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 39px;
}

.ladingwaY {
    font-family: Poppins;
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    color: #FFFFFF;
    margin-top: 91px
}
